<?xml version="1.0"?>
<!-- file: app/code/Techievolve/CategoryAttribute/etc/module.xml -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Techievolve_PopularCategory" setup_version="1.0.1" >
        <sequence>
            <module name="Magento_Catalog"/>
        </sequence>
    </module>
</config>