<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Techievolve_SuperiorService::superiorservice" title="Superior Service" module="Techievolve_SuperiorService" sortOrder="20" parent="Techievolve_Core::core" action="adminhtml/system_config/edit/section/superiorservice" resource="Techievolve_SuperiorService::superiorservice"/>
    </menu>
</config>
