<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        
        <section id="superiorservice" type="text" showInDefault="1" sortOrder="130" >
            <label>Superior Service</label>
            <tab>techievolvecore</tab>
            <resource>Techievolve_SuperiorService::config_superiorservice</resource>
            <group id="settings" type="text"  sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                <label>Superior Service Settings</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field> 
				
                <field id="customers" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>WorldWide Customers</label>
                     <!--<frontend_model>Techievolve\SuperiorService\Block\System\Config\Form\Field\Disable</frontend_model>-->
                </field>
                <field id="product_reviews" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Product Reviews</label>
                </field>
                
                <field id="eliquid_flavors" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>E-Liquid Flavors</label>
                </field>
                <field id="vape_products" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Vape Products</label>
                </field>
                
            </group>
        </section>
    </system>
</config>