<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/menu.xsd">
    <menu>
        <add id="Techievolve_QuickAccess::quickaccess" title="Quick Access" module="Techievolve_QuickAccess" sortOrder="10" parent="Techievolve_Core::core" action="adminhtml/system_config/edit/section/quickaccess" resource="Techievolve_QuickAccess::quickaccess"/>
	</menu>
</config>
